.item-container {
  flex: 1 auto;
  min-width: 400px;
  padding: 20px 50px 80px 50px;
}

@media only screen and (max-width: 400px) {
  .item-container {
    min-width: 200px;
    padding: 10px 20px 80px 20px;
  }
}

.item-image-container {
  margin: auto;
  text-align: center;
}

.item-image {
  object-fit: contain;
  max-width: 100%;
  box-shadow: 0px 28px 30px 10px #adadad;
  border-radius: 5px;
  transition: 0.3s;
}

.item-image:hover {
  transform: scale(1.05, 1.05);
}

.item-info {
  margin: auto;
  text-align: center;
  margin-top: 65px;
}

.item-name {
  border: 1px solid #000;
  font-size: 14px;
  background-color: #fcba03;
  padding: 10px 10px;
  font-weight: bold;
  box-shadow: 0px 3px 5px #adadad;
}

.modal-backdrop.show {
  opacity: 0.8;
}
